<%- include("../partials/header"); %>



    <div class="container ">
        <div class="container ">
            <header class="jumbotron ">
                <h1>Welocme to Find Your Hotel</h1>
                <p>Find Your Hotel.</p>
                <p>
                    <a href="/Hotels/new" class="btn btn-success btn-md">Click to add your hotel to Find Your Hotel</a>

                </p>
        </div>
        </header>
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <h2>Search our most popular Hotels</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div style="width:50%; margin:30px auto;">
                        <form class="form-inline " style="text-align: center;" method="POST" action="/Hotels/search">
                            <div class="form-group">
                                <input class="form-control " type="search" name="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="search_by">
                                <option selected disabled>Search By</option>
                                  <option value="name">Hotel Name </option>
                                  <option value="location">Location</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success " type="submit">Search</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>





            <div class="row text-center" style="display:flex; flex-wrap: wrap">
                <%    camps.forEach(function(camp){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= camp.image %> ">
                            <div class="caption">
                                <h4>
                                    <%= camp.name %>
                                </h4>
                            </div>
                            <p>
                                <a href="/Hotels/<%= camp._id %> " class="btn btn-success">More Info</a>
                            </p>
                        </div>
                    </div>
                    <% }); %>
            </div>


        </div>
        <%- include("../partials/footer"); %>